

<h2> Specific Activity </h2>
<% if @chosen_activity.image %>
<%= image_tag @chosen_activity.image.url(:medium) %>
<% end %> 
<p> <%= @chosen_activity.name %> </p>
<!-- <p> <%= social_share_button_tag() %> </p> -->
<p> <%= @chosen_activity.length %> </p>
<p> <%= @chosen_activity.description %> </p>

