
<h1> Listing Activities </h1>	

<table>

<tr>
	<th> Activity </th>
	<th> Length (Minutes) </th>
	<th> Description </th>
	<th> User </th>
  <th> Category </th>

</tr>


<tbody>
	<% @all_activities.each do |a| %>
		<tr>
			<td> <%= a.name %> </td>
			<td> <%= a.length %> </td>
			<td> <%= a.description %> </td>

			<% if a.user %> 
				<td> <%= a.user.email %> </td>
			<% else %> 
				<td> None </td>
			<% end %>
      <td> <%= a.category %> </td>



		</tr>
	  <% end %>
</tbody>

</table>




 