

<h3>Welcome to Boredom Manager</h3>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:length, "How long do you have? ") %>
  <%= number_field_tag(:length) %>
  <%= submit_tag("Go!") %>
<% end %>

<p><%= link_to "See All Activities", activities_show_path, class: "btn btn-large btn-realto " %></p>

<% if user_signed_in? %>

	<p><%= link_to "Add an Activity", new_activity_path, class: "btn btn-large btn-realto " %></p>

<% end %>