
<h2> Activity: <%= @activity.name %> </h2>

<style>

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    padding: 100px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:hover {background-color:#f5f5f5;}
</style>

<table>
	<col width="130">

<tr>
	
	<th> Length (Minutes) </th>
	<th> Description </th>
	<th> Review </th>

</tr>

<tbody>
	
	<tr>
	<td> <%= @activity.length %> </td>
	<td> <%= @activity.description %> </td>
	<td>
		<% if @activity.reviews.blank? %> 
			<p> No reviews </p>
		<% else %> 
		<% @activity.reviews.each do |review| %>
			<p> Rating: <%= review.rating %> </p>
			<p> Comment: <%= review.comment %> </p>
		<% end %> 
		<% end %> 
	</td>

	</tr>

</tbody>

</table>

<h3> Upload an Image </h3>

<%= form_for @activity, html: {multipart: true}, class: "form-horizontal" do |f| %>

  <div class="form-group">
    <%= f.label :image, class: "col-sm-2 control-label" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <% end %>


<h3> <%= link_to 'Write a Review', new_activity_review_path(@activity) %> </h3>



