


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
</style>
</head>
<body>

<div class="dropdown">
  <button class="dropbtn">Account</button>
  <% if user_signed_in? %>
    <div class="dropdown-content">
    	      <%= link_to "Get Recommendations (Home) ", root_path, class: "brand" %>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('My Activities', my_activities_path(current_user.id)) %>
      <%= link_to('My Friends', users_friends_url) %>
  <%= link_to('Update Profile', users_update_path(current_user), :method=> :patch) %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>   
  </div>
<% else %>
  <div class="dropdown-content">
  	      <%= link_to "Get Recommendations (Home) ", root_path, class: "brand" %>
  <%= link_to('Register', new_user_registration_path)  %>
    <%= link_to('Login', new_user_session_path)  %>  
  </div>
<% end %>
</div>


</body>
</html>



